html, body {
    font-family: font-family;
}
#title {
    background: rgb(255, 227, 232);
    padding: 10px;
    border: solid 1px #748ca58a;
    position: relative;
}
a {
    color: black;
}
#title > a {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
}
#main_table {
    width: 100%;
}

table {
    text-align: center;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: solid 1px #748ca58a;
}
tbody:nth-child(2n+1), tbody:nth-child(2n+1) textarea {
    background: rgb(255, 227, 232);
}
textarea {
    width: 100%;
    border: solid 1px #748ca58a;
    border-radius: 0;
    outline: none;
}
